// Шрифты
$ptsans: "ptsans", "Arial", sans-serif;

// Для сетки
$outline: 1px solid black;

// Цвета фона
$bg-gray: #f2f2f2;
$bg-white: #ffffff;
$bg-black: #000000;
$bg-pink: #d22856;
$bg-nav: #283645;
$bg-exgray: #e7e7e7;

// Цвета текста
$text-white: #ffffff;
$text-black: #202020;
$text-gray: #283645;
$text-lgray: #7f7e7e;
$text-pink: #d22856;

// Адаптивность
$mobile-width: "(max-width: 659px)";
$tablet-width: "(min-width: 660px)";
$desktop-width: "(min-width: 960px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
// @media #{$tablet-width} {}
// @media #{$retina} {}
