.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination__item {
  display: block;
  padding: 10px;
  min-width: 50px;
  border: 1px solid $text-lgray;
  text-decoration: none;
  text-align: center;
  color: $text-black;

  & + & {
    border-left: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-black;
    background-color: $bg-white;
  }

  &--active {
    background-color: $bg-white;
  }

  &--disable:hover,
  &--disable:focus {
    background-color: #E7E7E7;
  }
}
