.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination__item {
  display: block;
  margin-bottom: -1px; // убираем границу снизу, когда страницы выстраиваются в 2 ряда
  margin-right: -1px;  // убираем границы справа
  padding: 10px;
  min-width: 50px;
  border: 1px solid $text-lgray;
  text-decoration: none;
  text-align: center;
  color: $text-black;

  // Ненадежный способ, при уменьшении экрана вылазят задвоенные и пустые границы
  // & + & {
  //   border-left: 0;
  // }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-black;
    background-color: $bg-white;
  }

  &--active {
    background-color: $bg-white;
  }

  &--disable:hover,
  &--disable:focus {
    background-color: #E7E7E7;
  }
}
